# Non-project-specific build files:
build.xml
local.properties
/gradlew
/gradlew.bat
/CordovaLib/build
/cordova/node_modules/properties-parser/testReadProperties.class
/.gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
/build
